body {
  margin: 0;
  padding: 0;
  font-family: "Shadows Into Light", cursive;
  background-image: url("../img/cropped-RM_page-header_background1-3.png");
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  height: 100vh;
  color: white;
}

.resultados img {
  border-radius: 50%;
  padding: 10px;
  width: 170px;
}

.detallePersona {
  vertical-align: middle;
}

ul {
  background-color: rgba(245, 245, 220, 0.151);
}

ul li span {
  font-size: 20px;
  font-weight: 100;
}

.modal {
  color: black;
  font-family: "Times New Roman", Times, serif;
}

.resultados .col-2 {
  margin: auto;
}
.texto {
  margin: auto;
  background-color: rgb(15, 121, 139);
  text-align: center;
  border-radius: 15px;
}
.name{
  font-size: 20px;
  color: rgb(226, 226, 226);
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  border-radius: 30px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

